---
import BrowseLayout from "@/layouts/BrowseLayout.astro";
---

<BrowseLayout>
  <article
    class="posts-list bg-secondary-background border-border border-3 w-full h-full content-center text-center"
  >
    <h1 class="text-4xl font-bold">Posts Page</h1>
  </article>
</BrowseLayout>
