---
---

<main class="min-h-screen flex items-center justify-center bg-background bg-[linear-gradient(to_right,#80808033_1px,transparent_1px),linear-gradient(to_bottom,#80808033_1px,transparent_1px)] bg-size-[60px_60px]">
  <slot />
</main>