<div
  class="border-border border-3 bg-secondary-background text-right text-xs lg:min-w-54 text-wrap lg:py-2 lg:px-1"
>
  &copy; {new Date().getFullYear()} Kirac0on<br /> Inspired by <a
    href="https://github.com/Moeyua/astro-theme-typography"
    class="underline underline-offset-2">typography</a
  >
  <a href="https://moeyua.com/" class="underline underline-offset-2">Moeyua</a
  ><br />
  Proudly published with <a
    href="https://astro.build"
    class="underline underline-offset-2">Astro</a
  >
</div>
