<div
  class="border-border border-3 bg-secondary-background text-right text-xs lg:min-w-54 text-wrap lg:py-2 lg:px-1"
>
  &copy; {new Date().getFullYear()} Kirac0on<br /> Inspired by <a
    href="https://github.com/Moeyua/astro-theme-typography">typography</a
  >
  <a href="https://moeyua.com/">Moeyua</a><br />
  Proudly published with <a href="https://astro.build">Astro</a>
</div>
