---

---

<header>
    <div>
        <a href="/" title="Kiracoon's Blog">
            Kiracoon's Blog
        </a>
    </div>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts/">Post</a></li>
            <li><a href="/categories/">Category</a></li>
            <li><a href="/tags/">Tag</a></li>
            <li><a href="/friends/">Friend</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    
    </nav>

</header>