---
import { Icon } from "astro-icon/components";
---
<div class="bg-white p-20 rounded-xl w-full max-w-md text-center">
<div class="mb-8">
    <a href="/about" title="Click for More Info">
        <img alt="Kira's Avatar" class="rounded-full w-32 h-32 mx-auto mb-4"/>
    </a>
</div>
<div>
    <p class="text-2xl font-semibold mb-4">Kira M1k7ya</p>
    <p class="mb-4">Web Dev | Cyber Sec | Noob Writer</p>
</div>
<div class="flex justify-center space-x-4">
    <a href="https://github.com/kiramyby" aria-label="GitHub">
        <Icon slot="github" name="mdi:github" size={"32"}/>
    </a>
    <a href="https://x.com/kir4_c4" aria-label="Twitter">
        <Icon slot="twitter" name="mdi:twitter" size={"32"}/>
    </a>
</div>
</div>
