---
import { SITE_CONFIG } from "../config";
import GlassBlock from "./GlassBlock.astro";
import { Button } from "./ui/button";
---

<nav
  class="border-border border-3 bg-secondary-background lg:items-end justify-between lg:min-w-55 w-full lg:h-full h-20 flex lg:flex-col flex-row px-4"
>
  <div class="text-lg font-semibold text-center lg:mt-8 lg:w-full">
    <GlassBlock />
  </div>

  <div class="text-sm font-medium text-center content-center lg:my-8">
    <ul class="flex flex-row lg:flex-col lg:gap-4 gap-2">
      <li>
        <a href="/posts/"><Button className="lg:min-w-24">Post</Button></a>
      </li>
      <li>
        <a href="/categories/"
          ><Button className="lg:min-w-24">Category</Button></a
        >
      </li>
      <li><a href="/tags/"><Button className="lg:min-w-24">Tag</Button></a></li>
      <li>
        <a href="/about/"><Button className="lg:min-w-24">About</Button></a>
      </li>
    </ul>
  </div>
</nav>
